<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


<bean id="log" class="spring_app_aop03.LoggingAdvice"></bean>

<bean id="bank" class="org.springframework.aop.framework.ProxyFactoryBean">
	<property name="target" ref="imple"></property>
	<property name="interceptorNames">
		<value>log</value>
	</property>
</bean>

<bean id="imple" class="spring_app_aop03.BankImple"></bean>
</beans>
