<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- @RequestMapping 사용할 땐 bean에 등록해야 사용가능 -->
<!-- <bean id="hello" class="kr.co.test.web.control.HelloController"></bean> -->

</beans>
