<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>SpringWeb05</display-name>
  <servlet>
  	<servlet-name>Spring4</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  	<init-param>
  		<!-- dispatcher-servlet.xml 파일의 이름을 따로 지정해주고자 할때, 아래와 같이 명시한다.(2개 이상도 가능하다) -->
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
  			/WEB-INF/webapp1.xml
  			<!-- /WEB-INF/webapp2.xml -->	
  		</param-value>
  	</init-param>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Spring4</servlet-name>
  	<url-pattern >*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>